@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* current red in use for theme is #F52319 */

*,
*::before,
*::after {
	box-sizing:border-box;
	padding: 0;
	margin: 0;
	font-family: 'roboto', sans-serif;
}

*:focus {
	outline: 0;
}

/* global rules */

html {
	font-size: 16px;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

.icon {
	width: 75px;
	height: 75px;
}

/* nav rules */

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	height: 10vh;
	background-color: #FFFFFF;
	border-bottom: 1vh solid #F52319;
	z-index: 100;
}

.nav-content {
	position: relative;
	left: 2vh;
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.nav-logo {
	margin: 0 1rem;
}

.nav-logo::before,
.nav-logo::after {
	color: #F52319;
}

.nav-logo::before {
	content: '<';
}

.nav-logo::after {
	content: '>';
}

.nav-link {
	text-decoration: none;
	color: #000000;
}

.nav-link:hover,
.nav-link:focus {
	color: #F52319;
	transform: scale(1.2);
	transition: ease 250ms;
}

/* main rules */

main {
	height: 100vh;
	width: 100%;
	background-color: #F52319;
	color: #FFFFFF;
	padding-top: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content {
	height: 50vh;
	width: 60%;
	display: flex;
	align-items: center;
	font-size: 1.4rem;
}

.main-img {
	border: 1vh solid #FFFFFF;
	border-radius: 50%;
}

.about-me {
	height: 100%;
	width: 60%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr 2fr;
	grid-template-areas:
		"header header"
		"question answer"
		"skills-question skills-answer";
	column-gap: 10px;
}

.about-header {
	grid-area: header;
	text-align: center;
}

.about-header::after {
	content: '.';
	color: #000000;
}

.about-questions, 
.questions-skills {
	text-align: right;
	color: #000000;
}

/* legacy projects rules */

#projects {
	min-height: 90vh;
	width:100%;
	background-color: #FFFFFF;
	padding: 2.5%;
}

.projects-header {
	text-align: center;
	padding-bottom: 50px;
}

.projects-header::after {
	content: '.';
	color: #F52319;
}

.project-gallery {
	display: flex;
	justify-content: space-around;
}

.project-container {
	max-width: 29%;
	display: grid;
	grid-template-rows: 2fr 1fr 1fr;
	padding: 10px;
	border-radius: 5%;
	transition: ease 250ms;
}

.project-container:hover,
.project-container:focus {
	background-color: rgba(0,0,0,.3);
}

.project-img {
	height: auto;
	max-width: 500px;
	border-radius: 5%;
}

.project-info {
	width: 90%;
	padding-top: 2rem;
	align-text: center;
	font-size: 1.3rem;
}

.project-icons {
	width: 100;
}

/* contact rules */
#contact {
	height: 50vh;
	width: 100%;
	background-color: #F52319;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-header {
	margin: 5vh 0 3vh 0;
}

.contact-header::after {
	content: '.';
	color: #000000;
}

.email-address {
	font-size: 1.8rem;
	text-decoration: none;
	color: #FFFFFF;
}

.email-address,
.contact-icon {
	transition: ease 250ms;
}

.email-address:hover,
.email-address:focus {
	color: #000000;
	transform: scale(1.2);
}

.contact-icons {
	display: flex;
	width: 10vw;
	justify-content: space-around;
}
 
.contact-icon:hover {
	transform: scale(1.2);
	filter: brightness(0%);
}
 
.icon-link:focus .contact-icon {
	transform: scale(1.2);
	filter: brightness(0%);
}