@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* current red in use for theme is #F52319 */

*,
*::before,
*::after {
	box-sizing:border-box;
	padding: 0;
	margin: 0;
	font-family: 'roboto', sans-serif;
}

*:focus {
	outline: 0;
}

/* global rules */

html {
	font-size: 16px;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

.icon {
	width: 75px;
	height: 75px;
}

/* nav rules */

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	height: 10vh;
	background-color: #FFFFFF;
	border-bottom: 1vh solid #F52319;
	z-index: 100;
}

.nav-content {
	position: relative;
	left: 2vh;
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.nav-logo {
	margin: 0 1rem;
}

.nav-logo::before,
.nav-logo::after {
	color: #F52319;
}

.nav-logo::before {
	content: '<';
}

.nav-logo::after {
	content: '>';
}

.nav-link {
	text-decoration: none;
	color: #000000;
}

.nav-link:hover,
.nav-link:focus {
	color: #F52319;
	transform: scale(1.2);
	transition: ease 250ms;
}

/* main rules */

main {
	height: 100vh;
	width: 100%;
	background-color: #F52319;
	color: #FFFFFF;
	padding-top: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content {
	height: 50vh;
	width: 60%;
	display: flex;
	align-items: center;
	font-size: 1.4rem;
}

.main-img {
	border: 1vh solid #FFFFFF;
	border-radius: 50%;
}

.about-me {
	height: 100%;
	width: 60%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr 2fr;
	grid-template-areas:
		"header header"
		"question answer"
		"skills-question skills-answer";
	column-gap: 10px;
}

.about-header {
	grid-area: header;
	text-align: center;
}

.about-header::after {
	content: '.';
	color: #000000;
}

.about-questions, 
.questions-skills {
	text-align: right;
	color: #000000;
}

/* projects rules */

#projects {
	min-height: 90vh;
	width:100%;
	background-color: #FFFFFF;
	padding: 5%;
}

.projects-gallery {
	display: flex;
	flex-direction: column;
}

.projects-header {
	text-align: center;
	padding-bottom: 50px;
	border-bottom: 1px solid #F52319;
}

.projects-header::after,
.project-container-heading::after {
	content: '.';
	color: #F52319;
}

.project-container {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	grid-template-rows: auto repeat(3, 1fr);
	grid-template-areas:
		"img header"
		"img content1"
		"img content2"
		"img skills";
	column-gap: 20px;
	row-gap: 10px;
	padding: 25px 0;
	border-bottom: 1px solid #F52319;
}

.project-img {
	height: auto;
	max-width: 500px;
	grid-area: img;
	padding: 2.5%;
}

.project-container-heading {
	margin-top: 1vh;
	grid-area: header;
}

.project-info-subtitle {
	font-size: 1.4rem;
	grid-area: content1;
}

.project-info-subtitle::after,
.project-skills-subtitle::after {
	content: ':';
	color: #F52319;
}

.project-info {
	grid-area: content1;
	position: relative;
		top: 4vh;
		left: 2vh;
}

.project-skills-subtitle {
	font-size: 1.4rem;
	grid-area: content2;
}

.project-skills-icons {
	grid-area: skills;
	position: relative;
		left: 2vh;
}

/* contact rules */
#contact {
	height: 50vh;
	width: 100%;
	background-color: #F52319;
	color: #FFFFFF;
}