@font-face {
	font-family: "GothamPro";
	src: url("_styles/_fonts/GothamProNarrow-Bold.ttf") format("truetype"),
		 url("_styles/_fonts/GothamProNarrow-Bold.woff") format("woff"),
		 url("_styles/_fonts/GothamProNarrow-Bold.woff2") format("woff2");
}

.challenge-space {
	border: 0.75rem solid #F52319;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shield {
	height: 30rem;
	width: 25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	clip-path: polygon(100% 0, 90% 85%, 50% 100%, 10% 85%, 0 0);
}

.half-shield {
	height: 85%;
	width: 85%;
	clip-path: polygon(50% 0, 100% 0, 90% 85%, 50% 100%);
}

/* h1 {
	color: white;
	font-size: 18rem;
	position: absolute;
	font-family: "GothamPro", sans-serif;
} */

h2 {
	color: #000000;
	font-size: 4.5rem;
	position: relative;
	top: .5rem;
	font-family: "GothamPro", sans-serif;
}

.html5 {
	background-color: #e34c26;
}

.html5-highlight {
	background-color: #f06529;
}

.css3 {
	background-color: #264de4;
}

.css3-highlight {
	background-color: #2965f1;
}

.number {
	height: 21rem;
	width: 17.5rem;
	background-color: #FFFFFF;
	z-index: 100;
	position: absolute;
}

.five {
	clip-path: polygon(0 0, 100% 0, 98% 15%, 19% 15%, 22% 35%, 95% 35%, 90% 85%, 50% 100%, 10% 85%, 7% 60%, 23% 60%, 25% 76%, 50% 85%, 78% 76%, 80% 48%, 6% 48%);
}

.three {
	clip-path: polygon(0% 0%, 100% 0, 90% 88%, 50% 100%, 11% 88%, 6% 60%, 22% 60%, 26% 80%, 50% 86%, 75% 80%, 78% 50%, 26% 50%, 24% 36%, 80% 36%, 82% 15%, 3% 16%);
}