@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* current red in use for theme is #F52319 */

*,
*::before,
*::after {
	box-sizing:border-box;
	padding: 0;
	margin: 0;
	font-family: 'roboto', sans-serif;
}

*:focus {
	outline: 0;
}

/* global rules */

html {
	font-size: 16px;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

.icon {
	width: 75px;
	height: 75px;
}

/* nav rules */

nav {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	height: 7.5rem;
	background-color: #FFFFFF;
	border-bottom: 0.75rem solid #F52319;
	z-index: 100;
}

.nav-content {
	position: relative;
	left: 2vw;
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.nav-logo::before,
.nav-logo::after {
	color: #F52319;
}

.nav-logo::before {
	content: '<';
}

.nav-logo::after {
	content: '>';
}

.nav-link {
	text-decoration: none;
	color: #000000;
}

.nav-link:hover,
.nav-link:focus {
	color: #F52319;
	transform: scale(1.2);
	transition: ease 250ms;
}

.home-link {
	text-decoration: none;
	color: #000000;
	margin: 0 1rem;
}

.home-link:hover,
.home-link:focus {
	color: #F52319;
	transform: scale(1.2);
	transition: ease 250ms;
}

.home-link:hover .nav-logo::before {
	color: #000000;
}

.home-link:focus .nav-logo::before {
	color: #000000;
}

.home-link:hover .nav-logo::after {
	color: #000000;
}

.home-link:focus .nav-logo::after {
	color: #000000;
}

/* main rules */

main {
	height: 67.5rem;
	width: 100%;
	background-color: #F52319;
	color: #FFFFFF;
	padding-top: 17.5rem;
}

.main-content {
	max-height: 35rem;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr) 0.5fr repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas:
		". img . . ."
		". img header header ."
		". img questions1 answers ."
		". img questions2 skills skills"
		". . . skills skills";
	column-gap: 20px;
	font-size: 1.4rem;
}

.main-img {
	max-height: 481px;
	width: auto;
	border: 0.75rem solid #FFFFFF;
	border-radius: 50%;
	grid-area: img;
	background-color: #FFFFFF;
}

.about-header {
	grid-area: header;
}

.about-questions {
	grid-area: questions1;
	color: #000000;
	text-align: right;
}

.questions-skills {
	text-align: right;
	margin-top: 1rem;
	color: #000000;
	grid-area: questions2;
}

.about-answers {
	grid-area: answers;
}

.skills-container {
	grid-area: skills;
}

.about-header::after {
	content: '.';
	color: #000000;
}

/* projects rules */

#projects {
	position: absolute;
	bottom: 5rem;
}

.projects {
	min-height: 60rem;
	padding: 2.5%;
}

.projects-header {
	text-align: center;
	padding-bottom: 50px;
}

.projects-header::after {
	content: '.';
	color: #F52319;
}

.project-gallery {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.project-container {
	max-width: 32%;
	min-width: 420px;
	display: grid;
	grid-template-rows: 1fr auto 100px;
	padding: 10px;
	border-radius: 25px;
	transition: ease 250ms;
	justify-content:center;
}

.project-container:hover,
.project-container:focus {
	background-color: rgba(0,0,0,.3);
}

.project-img {
	height: auto;
	max-width: 400px;
	border-radius: 25px;
	margin: 0 auto;
}

.project-info {
	width: 90%;
	max-width: 400px;
	padding-top: 2rem;
	margin: 0 auto;
	text-align: center;
	font-size: 1.3rem;
}

.project-icons {
	margin-top: 1rem;
	max-width: 400px;
	opacity: .8;
}

/* contact rules */
#contact {
	height: 20rem;
	background-color: #F52319;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-header {
	margin: 0 0 2rem 0;
}

.contact-header::after {
	content: '.';
	color: #000000;
}

.email-address {
	font-size: 1.8rem;
	text-decoration: none;
	color: #FFFFFF;
}

.email-address,
.contact-icon {
	transition: ease 250ms;
}

.email-address:hover,
.email-address:focus {
	color: #000000;
	transform: scale(1.2);
}

.contact-icons {
	display: flex;
	min-width: 30%;
	justify-content: space-around;
}
 
.contact-icon:hover {
	transform: scale(1.2);
	filter: brightness(0%);
}
 
.icon-link:focus .contact-icon {
	transform: scale(1.2);
	filter: brightness(0%);
}

@media only screen and (max-width: 1400px) {	
	.main-content {
		grid-template-columns: 2fr 1fr 2fr;
		grid-template-rows: repeat(5, 1fr);
		grid-template-areas:
			". img ."
			". header ."
			"questions1 answers ."
			"questions2 skills ."
			". skills .";
		row-gap: 1rem;
	}
}

@media only screen and (max-width: 900px) {
	main {
		height: 45rem;
		padding-top: 25%;
	}
	
	.main-img {
		height: 240.5px;
	}
	
	.nav-content {
		width: 80%;
	}
	
	.icon {
		width: 32.5px;
		height: auto;
	}
	
	#contact {
		height: 10rem;
	}
}

@media only screen and (max-width: 539px) {
	.contact-header,
	.about-questions,
	.questions-skills {
		display: none;
	}
	
	.project-container {
		min-width: 80%;
	}
	
	.project-img {
		height: auto;
		width: 300px;
	}
}

@media only screen and (max-width: 400px) {
	nav {
		font-size: .8rem;
	}
	
	.project-img {
		width: 200px;
	}
}